{% extends 'portfolio/base.html' %}
{% block contant %}

    {% load static %}
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="continer">
            <h1>Portfolio of Kamrul Hasan </h1> <br>
            <img src="{% static 'portfolio/IMG_0377.JPG' %}" alt="kamrul" width="600">

        </div>
    </div>


    <div class="container">
        <div class="row">
            {% for projects in  projects %}
                <div class="col">
                    <h1>{{ projects.title }}</h1>
                    <p>{{ projects.description }}</p>

                    <img src="{{ projects.image.url }}" height=700 width=500 alt="">
                    <br>
                    {% if projects.urls %}
                        <a href="{{ projects.urls }}"> Link</a>

                    {% endif %}

                </div>
            {% endfor %}

        </div>
    </div>
    <br>



{% endblock %}

